.section-teams {
  padding: 70px 10px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  /* background-color: thistle; */
  padding: 20px;
  padding-top: 0px;
  font-size: 30px;
  text-align: center;
  height: 75px;
}

.grid-item img {
  width: 100px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h3 {
    font-size: 1.6rem;
  }
  .grid-item img {
    width: 200px;
  }
  .grid-item {
    height: 150px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h3 {
    font-size: 2rem;
  }
  .grid-item img {
    width: 250px;
  }
  .grid-item {
    height: 150px;
  }
  .grid-container {
    /* grid-template-columns: auto auto; */
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
}
